[submodule "plugins/binaryninja-bookmarks"]
	path = plugins/binaryninja-bookmarks
	url = https://github.com/joshwatson/binaryninja-bookmarks.git
[submodule "plugins/binaryninja-msp430"]
	path = plugins/binaryninja-msp430
	url = https://github.com/joshwatson/binaryninja-msp430.git
[submodule "plugins/binaryninja-radare2"]
	path = plugins/binaryninja-radare2
	url = https://github.com/Manouchehri/binaryninja-radare2.git
[submodule "plugins/binaryninja-spu"]
	path = plugins/binaryninja-spu
	url = https://github.com/bambu/binaryninja-spu.git
[submodule "plugins/binja-avr"]
	path = plugins/binja-avr
	url = https://github.com/cah011/binja-avr.git
[submodule "plugins/binjatron"]
	path = plugins/binjatron
	url = https://github.com/snare/binjatron.git
[submodule "plugins/binoculars"]
	path = plugins/binoculars
	url = https://github.com/rick2600/binoculars.git
[submodule "plugins/easypatch"]
	path = plugins/easypatch
	url = https://github.com/walterschell/easypatch.git
[submodule "plugins/liil"]
	path = plugins/liil
	url = https://github.com/ColdHeat/liil.git
[submodule "plugins/x64dbgbinja"]
	path = plugins/x64dbgbinja
	url = https://github.com/x64dbg/x64dbgbinja.git
[submodule "plugins/binaryninja-microcorruption"]
	path = plugins/binaryninja-microcorruption
	url = https://github.com/joshwatson/binaryninja-microcorruption
[submodule "plugins/SyscallsIdentifier_BinaryNinja"]
	path = plugins/SyscallsIdentifier_BinaryNinja
	url = https://github.com/HascoetKevin/SyscallsIdentifier_BinaryNinja
[submodule "plugins/linsweep"]
	path = plugins/linsweep
	url = https://github.com/lstotch/linsweep
[submodule "plugins/binaryninja-machosymbols"]
	path = plugins/binaryninja-machosymbols
	url = https://github.com/bambu/binaryninja-machosymbols
[submodule "plugins/binaryninja-vmndh"]
	path = plugins/binaryninja-vmndh
	url = https://github.com/verylazyguy/binaryninja-vmndh
[submodule "plugins/bnhook"]
	path = plugins/bnhook
	url = https://github.com/orndorffgrant/bnhook
[submodule "plugins/nampa"]
	path = plugins/nampa
	url = https://github.com/kenoph/nampa
[submodule "plugins/Annotator"]
	path = plugins/Annotator
	url = https://github.com/carstein/Annotator
[submodule "plugins/Syscaller"]
	path = plugins/Syscaller
	url = https://github.com/carstein/Syscaller
[submodule "plugins/i8051"]
	path = plugins/i8051
	url = https://github.com/amtal/i8051
[submodule "plugins/binja_explain_instruction"]
	path = plugins/binja_explain_instruction
	url = https://github.com/ehennenfent/binja_explain_instruction
[submodule "plugins/binja_dynamics"]
	path = plugins/binja_dynamics
	url = https://github.com/ehennenfent/binja_dynamics
[submodule "plugins/binja_arch_ref"]
	path = plugins/binja_arch_ref
	url = https://github.com/ehennenfent/binja_arch_ref
[submodule "plugins/binja_sensei"]
	path = plugins/binja_sensei
	url = https://github.com/ehennenfent/binja_sensei
[submodule "plugins/binaryninja-pasticciotto"]
	path = plugins/binaryninja-pasticciotto
	url = https://github.com/peperunas/binaryninja-pasticciotto
[submodule "plugins/binja-msdn"]
	path = plugins/binja-msdn
	url = https://github.com/schmotzle/binja-msdn
[submodule "plugins/binaryninja-frida"]
	path = plugins/binaryninja-frida
	url = https://github.com/chame1eon/binaryninja-frida
[submodule "plugins/bnil-graph"]
	path = plugins/bnil-graph
	url = https://github.com/withzombies/bnil-graph
[submodule "plugins/ripr"]
	path = plugins/ripr
	url = https://github.com/pbiernat/ripr
[submodule "plugins/llvm-deobfuscator"]
	path = plugins/llvm-deobfuscator
	url = https://github.com/RPISEC/llvm-deobfuscator
[submodule "plugins/trickledown_vars"]
	path = plugins/trickledown_vars
	url = https://github.com/toolCHAINZ/trickledown_vars
[submodule "plugins/binja_function_abi"]
	path = plugins/binja_function_abi
	url = https://github.com/whitequark/binja_function_abi
[submodule "plugins/binja_itanium_cxx_abi"]
	path = plugins/binja_itanium_cxx_abi
	url = https://github.com/whitequark/binja_itanium_cxx_abi
[submodule "plugins/binaryninja-lc3"]
	path = plugins/binaryninja-lc3
	url = https://github.com/kapaw/binaryninja-lc3
[submodule "plugins/binjago"]
	path = plugins/binjago
	url = https://github.com/zznop/binjago
[submodule "plugins/binja_sibyl"]
	path = plugins/binja_sibyl
	url = https://github.com/kenoph/binja_sibyl
[submodule "plugins/binaryninja_avr"]
	path = plugins/binaryninja_avr
	url = https://github.com/fluxchief/binaryninja_avr
[submodule "plugins/bnpy"]
	path = plugins/bnpy
	url = https://github.com/extremecoders-re/bnpy
[submodule "plugins/xref_call_finder"]
	path = plugins/xref_call_finder
	url = https://github.com/rick2600/xref_call_finder
[submodule "plugins/binaryninja-search"]
	path = plugins/binaryninja-search
	url = https://github.com/6e726d/binaryninja-search
[submodule "plugins/WinAPI-Annotator"]
	path = plugins/WinAPI-Annotator
	url = https://github.com/levyjm/WinAPI-Annotator
[submodule "plugins/Keyhole"]
	path = plugins/Keyhole
	url = https://github.com/carstein/Keyhole
[submodule "plugins/binaryninja-clipper"]
	path = plugins/binaryninja-clipper
	url = https://github.com/pmackinlay/binaryninja-clipper
[submodule "plugins/retdec_offline"]
	path = plugins/retdec_offline
	url = https://github.com/ThisIsSecurity/retdec_offline
[submodule "plugins/djumpo_unchained"]
	path = plugins/djumpo_unchained
	url = https://github.com/ThisIsSecurity/djumpo_unchained
